.container {
    background-color: #FFFFFF;
    padding: 0px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    border-radius: 0px 0px 5px 5px;
}
#breadcrumbs {
    background-color:#005540;
    color: #fff;
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#breadcrumbs h1 {color: #fff;}
.thumb {
    margin-bottom: 30px;
}
.videogrid {
    padding: 25px;
}
.well {border: none; box-shadow: none;}
input[type="text"] {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 18px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    color: #505050;
}
input[type="text"]:focus {
    outline: none;
}
input[type="radio"]{
    margin-right: 10px;
}
.style-2 input[type="text"] {
    padding: 10px;
    border: solid 5px #00382a;
    transition: border 0.3s;
}
.style-2 input[type="text"]:focus,
.style-2 input[type="text"].focus {
    border: solid 5px #008c69;
}