/*======================================
CSS DOCUMENT FOR HOME PAGE
======================================*/
/* THESE STYLES ARE MEANT TO MODIFY OR ADD TO EXISTING STYLES */

html { height:auto !important; overflow-x:hidden; }

body {
    background: url("../images/home/bg_tile.png") repeat #d3d9d4;
}

.bg {
    width: 100%;
    background-image: url("../images/home/digital_bg.png");
    background-position: center;
}
.itemSmall a:link, .itemSmall a:active, .itemSmall a:hover, .itemSmall a:visited{color:inherit;}

#wrapper{
    /*width: 1000px;*/
    padding-top: 0px;
    margin-top: 30px;
    position: relative;
    padding-top: 0px;
    z-index: 999;
}

#homeLogo{ position:relative; }

.collabLinks {
    background:#FFF;
    color: #bb3b00;
    float:left;
    font-family:Helvetica, Arial, Verdana, sans-serif;
    font-weight:bold;
    margin-left:66px;
    width:165px;
    -webkit-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 15px 0px rgba(0,0,0,0.75);
}

.collabLink {
    clear:both;
    float:left;
    width:100%;
}

.collabLinks a {
    color: #bb3b00 !important;
}

.dotted {
    border-bottom:1px dotted #666;
    width:100%;
}

.collabNum {
    float:left;
    font-size:1.6em;
    margin:5px 10px;
}

.segCollab {
    float:left;
    font-size:0.7em;
    margin:5px 10px 5px 0;
}

.navCircles {
    text-align:center;
    margin:140px auto 0;
    list-style-type:none;
}

.navCircles li {
    display:inline-block;
    margin:0;
    padding:0;
    width:116px;
    cursor:pointer;
}

.navText {
    display:none;
}

.navDetail {
    padding:14px;
}

.navDetail div {
    background-color:white;
    box-shadow: 1px 1px 5px #888888;
}

hr {
    height:5px;
    border:none;
    width:100%;
}

.milestoneText{
    position:absolute;
    top:210px;
    left:20px;
    color:#633c15;
    font-size: 12px;
    width:190px;
}


#milstoneDescSmall{
    display:none;
    width:300px;
    background-color:#FFF;
    padding-bottom: 5px;
}

#milstoneDescSmall H3{ color:#bb4829; padding:15px;}

.itemSmall{
    margin:2px 5px;
    padding:20px 10px 15px;
    color:#FFF;

}

.itemSmall.itemStarted{	background-color:#c0583b;}
.itemSmall.itemOne{	background-color:#6a4a28;}
.itemSmall.itemTwo{	background-color:#c6bd94; color:#6a4a28;}
.itemSmall.itemThree{ background-color:#bf7131;}
.itemSmall.itemFour{ background-color:#737372;}
.itemSmall.itemFive{ background-color:#789693;}


.unround-top-corners{
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.item{
    margin-right: -1px;
    margin-bottom: 1px;
}




#module_list{
    margin-left:330px;
    margin-top:190px;
}

#module_list ul li a{
    background-color:#ff8e00;
}

#module_list ul li a:hover{
    background-color:#ffb600;
}


#course_title{
    text-align:center;
    font-size:.01em;
    margin-top:0px;
    color:#009ec3;
    font-size:.01em;
    height:0px;
}


.developers {
    height:20px;
    margin: 40px 0 0;
    padding:0;
    width:100% !important;
}

.developers a {
    width:45px;
    padding: 5px 10px;
    background-color: transparent;
    color: #bb3b00;
    line-height:10px;
    bottom:0 !important;
    right:20px !important;
    left:auto !important;
    top:auto !important;
    position:fixed !important;
}

.developers a:hover{
    color:#6b4117;

}

.developers span {
    display: none;
    width:160px;
    padding: 10px;
    color: #032C02;
    font-size: 14px;
    z-index: 998;
    border-radius:0;
    position:fixed !important;
    top:auto !important;
    left:auto !important;
    right:0 !important;
    bottom:23px !important;
}

#footer{
    color:#000;
    position:fixed;
    top:auto;
    right:auto !important;
    left:0;
    bottom:0 !important;
    width:100%;
    text-align:center;
}
#footer_copyright {
    background-color: transparent;
    border: none;
    margin-top: 100px;
}

a#index_bookmark{ background-color:#DD7000;	}


.response{
    position: absolute;
    top:50px;
    left: 20px;
    width:100px;
    height:10px;
    background-color:#C63;
    color:#FFF;
}


/* THE SPEECH BUBBLE */

#navSubmenu {
    background-image:url(../images/home/submenu_bottom_left.png);
    background-position:bottom center;
    background-repeat:no-repeat;
    margin:0;
    padding:0;
    width:280px;
    visibility:hidden;
    left:-9000px;
    position:absolute;
    z-index:1000;
}

.triangle-right {
    padding:10px;
    font-size:.8em;
    color: #bb3b00;
    background:#FFF;
    width:340px;
}

.triangle-right .lessons {
    box-shadow: 1px 0 10px -4px rgba(31, 73, 125, 0.8), 0 -9px 0px 0px white, 1px 0 10px -4px rgba(31, 73, 125, 0.8), -1px 0 10px -4px rgba(31, 73, 125, 0.8);
    list-style-type:none;
}

.triangle-right .lessons li {
    border-top:1px dashed #999;
    padding:5px;
    margin:0 10px !important;
    line-height:20px;
}

.triangle-right .lessons li:hover,
.triangle-right .lessons li:hover a,
.triangle-right .lessons li:hover span {
    background: #bb3b00;
    color:#FFF;
}

.triangle-right .lessons li:first-child {
    border:none;
}

.triangle-right .lessons li a {
    color: #bb3b00;
    display:block;
}


.triangle-right .lessons span {
    color:#999;
    font-weight:bold;
    margin-right:10px;
}

/* THE TRIANGLE

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px;
	left:50px;
	border-width:20px 20px 0 0;
	border-style:solid;
	border-color:#FFF transparent;
	display:block;
    width:0;
}

*/


/* NAV ACCORDION */
#navAccordion { background:#FFF; padding:14px; display:none; }

.accordionList .ui-icon {
    display:inline-block;
}

.ui-accordion .ui-accordion-header {
    border-top:1px dashed #666;
    margin:0;
}

.ui-accordion .ui-accordion-header:first-child { border-top:none; }

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius:0;
}

.ui-state-default {
    background:#FFF;
    border:none;
}

.ui-state-active, .ui-state-default:hover {
    background: #bb3b00;
    color:#FFF;
}
.ui-accordion .ui-accordion-content { padding:1px 20px; }
.ui-widget-content { border:none; }

.accordionList {
    font-size:.8em;
    color: #bb3b00;
    box-shadow: 1px 0 10px -4px rgba(31, 73, 125, 0.8), 0 -9px 0px 0px white, 1px 0 10px -4px rgba(31, 73, 125, 0.8), -1px 0 10px -4px rgba(31, 73, 125, 0.8);
    padding:5px;
}

.accordionList .lessons {
    list-style-type:none;
    padding:0;
    margin:0;
}

.accordionList .lessons li {
    border-top:1px dashed #999;
    padding:5px;
    margin:0 !important;
    line-height:20px;
}

.accordionList .lessons li:hover,
.accordionList .lessons li:hover a,
.accordionList .lessons li:hover span {
    background: #bb3b00;
    color:#FFF;
}

.accordionList .lessons li:first-child {
    border:none;
}

.accordionList .lessons li a {
    color: #bb3b00;
    display:block;
}


.accordionList .lessons span {
    display:none;
}


/* iPad Landscape, FLVS standard Width */
@media screen and (max-width: 1024px){
    #wrapper{width: 825px;}
}



/* Course inside Educator 1024 (IE)  Course inside Educator 1024 (Chrome, FF, Safari)*/
@media screen and (max-width: 865px){
    #wrapper{width: 775px;}


}

/* iPad Portrait Kindle Fire Landscape */
@media screen and (max-width: 800px){
    #wrapper{width: 740px;}


}
/* Kindle Fire Portrait */
@media screen and (max-width : 768px){
    #wrapper{width: 700px;}

}


@media screen and (max-width :700px){
    #wrapper{width: 600px;}
}


@media screen and (max-width :640px){
    #wrapper{width: 100%; margin-top:20px; padding:0 5px;}

    #menua, #nav_menu {display:none !important;}

    .navCircles { display:none; }
    #navAccordion { display:block; width:90%; margin-right:150px !important; }
    #homeLogo {top:0; margin-top:0;}

    .developers {
        right:0 !important;
        left:auto !important;
    }

    #footer{
        text-align:center;
        position:absolute;
        padding:0 !important;
    }
}


/* iPhone/iPod Touch Landscape */
@media screen and (max-width : 600px){
}

/* iPhone/iPod Touch Landscape  is 480 but due to the slider we needed to bumb this to 500*/
@media screen and (max-width : 500px){
}

/* iPhone/iPod Touch Portrait */
@media screen and (max-width : 320px) {
}

