/* Top Menu */
#menua {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #ffffff;
    z-index: 9901;
    display: block;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(104, 104, 104, .4);
    box-shadow: 0px 5px 10px 0px rgba(104, 104, 104, .4);
}

#menua #menu_inner {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#menu_inner .menubtn {
    float: left;
    font-weight: bold;
    color: #bb3b00;
    display: block;
    line-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#menu_inner .menubtn:hover {
    text-decoration: none;
    color: #bb3b00;
    background-color: #ffe5da;
}

/* Menu shadow */
.menu_before {
    width: 15px;
    height: 40px;
    background: url(../images/home/menubg_left.png) no-repeat;
    float: left;
    margin-left: -15px;
}

.menu_after {
    width: 15px;
    height: 40px;
    background: url(../images/home/menubg_right.png) no-repeat;
    float: left;
}

.menu_after_next {
    width: 15px;
    height: 40px;
    background: url(../images/home/menubg_right.png) no-repeat;
    position: absolute;
    right: -15px;
    top: 0px;
    z-index: 9902;
}

#menu_inner .menu_links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu_inner .menu_links li {
    float: left;
    margin: 0px;
    padding: 0px;
}

#menu_inner .menu_links li a {
    text-transform: uppercase;
    font-size: 12px;
    color: #482b52;
    display: block;
    line-height: 40px;
    margin-right: 2px;
    padding: 0px 8px;
}

#menu_inner .menu_links li a:hover {
    color: #bb3b00;
    text-decoration: none;
}

#menu_right {
    float: right;
}

.pagenums {
    font-size: 14px;
    border-right: solid 1px #f0f0f0;
    height: 40px;
    float: left;
    position: relative;
    margin-right: 10px;
}

.pagenums a {
    color: #000;
    line-height: 40px;
    margin-right: 20px;
}

.pagenums a:hover {
    color: #bb3b00;
    text-decoration: none;
}

.prevt {
    float: left;
    display: block;
    line-height: 40px;
    color: #333;
    width: 29px;
    height: 29px;
    text-indent: -999px;
    overflow: hidden;
    background-image: url(../images/global/prev.jpg);
    margin-top: 5px;
}

.prevt:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.home {
    float: left;
    display: block;
    line-height: 29px;
    color: #bb3b00;
    text-transform: uppercase;
    border-left: solid 1px #f0f0f0;
    border-right: solid 1px #f0f0f0;
    padding: 0px 15px;
    margin: 5px 10px 0px 10px;
}

.home:hover {
    color: #bb3b00;
    background-color: #ffe5da;
    text-decoration: none;
}

.nextt {
    float: left;
    display: block;
    line-height: 40px;
    color: #333;
    width: 29px;
    height: 29px;
    text-indent: -999px;
    overflow: hidden;
    background-image: url(../images/global/next.jpg);
    margin-top: 5px;
    margin-right: 10px;
}

.nextt:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* Mobile */
.menu_mobile {
    display: none;
}

.menu_mobile .menubtn_mobile {
    float: left;
    font-weight: bold;
    color: #98a929;
    display: block;
    line-height: 20px;
    margin-top: -2px;
}

.menu_mobile .menubtn_mobile:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.menu_mobile_nav {
    display: none;
    border-bottom: solid 2px #d4d4d4;
    margin-top: 20px !important;
}

.menu_mobile_nav ul {
    list-style: none;
    margin: 0px;
}

.menu_mobile_nav a {
    display: block;
    width: 100%;
    font-size: 14px;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #333333;
    border-bottom: solid 1px #F1F1F1;
    padding: 10px 20px;
}

.menu_mobile_nav a:hover {
    text-decoration: none;
    background-color: #ffe5da;
}

#nav_menu1, #nav_menu {
    background: #FFF;
    position: fixed;
    left: 0px;
    display: none;
    z-index: 9900;
    top: 40px;
}

.menu_backdrop {
    background: url(../images/home/menu_overlay.png) repeat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9899;
}

#nav_menu1 .nav_menu_modules, #nav_menu .nav_menu_modules {
    box-shadow: 1px 0 10px -4px rgba(31, 73, 125, 0.8), 0 -9px 0px 0px white, 1px 0 10px -4px rgba(31, 73, 125, 0.8), -1px 0 10px -4px rgba(31, 73, 125, 0.8);
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#nav_menu1 .nav_menu_modules li, #nav_menu .nav_menu_modules li {

}

#nav_menu1 .nav_menu_modules li li, #nav_menu .nav_menu_modules li li {
    border: none;
}

#nav_menu1 .nav_menu_modules li:first-child a, #nav_menu .nav_menu_modules li:first-child a {
    border: none;
}

#nav_menu1 .nav_menu_modules, #nav_menu .nav_menu_modules {
    margin: 7px;
}

#nav_menu1 .nav_menu_modules li a.modlink, #nav_menu .nav_menu_modules li a.modlink {
    width: 210px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    color: #bb3b00;
    padding: 15px 25px;
    position: relative;
    background-color: #FFF;
    border-top: 1px dashed #999;

}

#nav_menu1 .nav_menu_modules li:first-child a.modlink, #nav_menu .nav_menu_modules li:first-child a.modlink {
    background-image: none;
    border: none !important;
    position: relative;

}

#nav_menu1 .nav_menu_modules li a.modlink:hover, #nav_menu .nav_menu_modules li a.modlink:hover {
    text-decoration: none;
    background-color: #bb3b00;
    color: #ffffff;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#nav_menu1 .nav_menu_modules li a.modlink .modnum, #nav_menu .nav_menu_modules li a.modlink .modnum {
    font-size: 10px;
    display: block;
    color: #666;
}

#nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons {
    position: absolute;
    left: 217px !important;
    top: 0px;
    list-style: none;
    width: 300px;
    /*background-color: #ffffff;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    display: none;
}

ul.nav_menu_modules > li {
    position: relative;
}

ul.nav_menu_lessons1, ul.nav_menu_lessons {
    margin: 0;
    padding: 7px;
    background-color: #ffffff;
    width: 295px;
}

ul.nav_menu_lessons1 li, ul.nav_menu_lessons li {
    background-color: #bb3b00;
    margin: 0;
    padding: 0 15px !important;
}

.nav_menu_lessons1 li a, .nav_menu_lessons li a {
    color: #FFF;
    display: block;
    padding: 15px 0;
    border-top: 1px dashed #fca680 !important;
}

.nav_menu_lessons1 li:first-child a, .nav_menu_lessons li:first-child a {
    border: none !important;
}

.nav_menu_lessons1 li:hover, .nav_menu_lessons li:hover {
    background: #FFF;
}

.nav_menu_lessons1 li:hover a, .nav_menu_lessons li:hover a {
    color: #bb3b00 !important;
}

.nav_menu_lessons1 li a .lesson_num, .nav_menu_lessons li a .lesson_num {
    float: left;
    font-size: 13px;
    display: block;
    text-align: left;
    margin: 0 10px 0;
    padding: 0;
}

.nav_menu_lessons1 li a .lesson_title {
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: block;

}

.nav_menu_lessons1 li a .lesson_nfo {
    font-size: 13px;
    color: #b9c56d;
    display: block;
    padding: 0px;
    margin-top: -10px;
    margin: 0px;
    display: block;
}

.nav_menu_lessons1 li a:hover, .nav_menu_lessons1 li a.odd:hover {
    color: #666666;
    text-decoration: none;
}

.nav_menu_lessons1 li a:hover, .nav_menu_lessons1 li a.odd:hover {
    color: #666666;
    text-decoration: none;
}

.menuThumbs {
    width: 140px;
    height: 128px;
    background-position: 0px 0px;
}

a:hover .menuThumbs {
    background-position: 140px 0px;

}

@media screen and (max-width: 1024px) {
    /* menubar */
    #menua #menu_inner {
        width: 825px;
    }

    .menu_mobile {
        display: none;
    }

    .menu_desktop {
        display: block;
    }

    /* NAVIGATION */
    .menu_mobile_nav {
        display: none;
    }

    #nav_menu1, #nav_menu {
        position: fixed;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        width: 460px;
        left: 165px;
    }

}

@media screen and (max-width: 844px) {
    /* menubar */
    #menua #menu_inner {
        width: 790px;
    }

    /* NAVIGATION */
}

@media screen and (max-width: 800px) {
    /* menubar */
    #menua #menu_inner {
        width: 750px;
    }

    /* NAVIGATION */
    #nav_menu1 .nav_menu_modules li a.modlink, #nav_menu .nav_menu_modules li a.modlink {
        width: 120px;
        font-size: 12px;
        line-height: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        left: 140px;
    }

    .nav_menu_lessons1 li a .lesson_title {
        font-size: 11px;
        padding-top: 0px;
    }

    .nav_menu_lessons1 li a .lesson_nfo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* menubar */
    #menua #menu_inner {
        width: 660px;
    }

    #menua {
        position: absolute;
    }

    /* NAVIGATION */
    #nav_menu1, #nav_menu {
        position: absolute;
        top: 26px;

    }

    #nav_menu1 .nav_menu_modules, #nav_menu .nav_menu_modules {
        margin-top: 18px;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        left: 140px;
        height: 320px;
    }

    .nav_menu_lessons1 {
        margin-top: 20px;
        margin-left: 20px;

    }

    .menu_mobile_nav {
        border-bottom: none;

    }

    .menu_mobile_nav a {
        width: 80px;
    }

}

/* iPad Portrait inside Educator*/
@media screen and (max-width: 700px) {
    /* menubar */
    #menua #menu_inner {
        width: 560px;
    }

    #menua {
        position: absolute;
    }

    .menu_mobile {
        display: block;
    }

    .menu_desktop {
        display: none;
    }

    .menu_links li {
        width: 100px;
        font-size: 12px;
        line-height: 16px;
    }

    .menu_mobile_nav {
        display: block;
    }

    .menu_mobile_nav a {
        text-transform: uppercase;
        font-size: 12px;
        color: #bb3b00;
        display: block;
        line-height: 40px;
        margin-right: 2px;
        padding: 0px 20px;
    }

    /* NAVIGATION */
    #nav_menu1, #nav_menu {
        position: absolute;
    }

    .nav_menu_lessons1 li a {
        height: 128px;
    }

    #nav_menu1 .nav_menu_modules, #nav_menu .nav_menu_modules {
        margin-top: 2px;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        height: 290px;
    }

    .nav_menu_lessons1 li a .lesson_num {
        font-size: 0px;
    }

    .nav_menu_lessons1 li a .lesson_title {
        font-size: 0px;
    }

    .nav_menu_lessons1 li a .lesson_nfo {
        font-size: 0px;
    }
}

/* Kindal Fire */
@media screen and (max-width: 600px) {
    /* menubar */
    #menua #menu_inner {
        width: 440px;
    }

    #menua {
        position: absolute;
    }

    #menua #menu_inner {
        width: 440px;
    }

    .menu_mobile {
        display: block;
    }

    .menu_desktop {
        display: none;
    }

    /* NAVIGATION */
    .menu_mobile_nav {
        display: block;
    }

    #nav_menu1, #nav_menu {
        position: absolute;
        left: 75px !important;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        width: 310px;
        height: 430px;
    }

}

@media screen and (max-width: 480px) {
    /* menubar */
    #menua #menu_inner {
        width: 300px;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        width: 224px;
    }

    .menu_mobile_nav a {
        width: 260px;
    }

    #nav_menu1 .nav_menu_modules li a.modlink, #nav_menu .nav_menu_modules li a.modlink {
        width: 280px;
    }

    #nav_menu1 .nav_menu_modules li a.modlink:link, #nav_menu .nav_menu_modules li a.modlink:link {
        text-decoration: none;
        background-color: #bb3b00;
        color: #ffffff;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }

    #nav_menu1 .nav_menu_modules li a.modlink:hover, #nav_menu .nav_menu_modules li a.modlink:hover {
        text-decoration: none;
        background-color: #fff;
        color: #bb3b00;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        filter: alpha(opacity=90);
        -moz-opacity: 0.9;
        -khtml-opacity: 0.9;
        opacity: 0.9;
    }

    /* NAVIGATION */
    .menu_mobile_nav {
        display: block;
    }

    .menuThumbs {
        display: none;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1, #nav_menu .nav_menu_modules li .nav_menu_lessons1 {
        width: 300px;
        position: inherit;
        left: 0;
        margin: 0px;
        background-image: none;
        background-color: #e8e8e8;
        background-size: 100% auto;
        background-position: top center;
    }

    #nav_menu1 .nav_menu_modules li .nav_menu_lessons1 img, #nav_menu1 .nav_menu_modules li .nav_menu_lessons1 img {
        display: none;

    }

    .nav_menu_lessons1 li a {
        float: none;
        display: block;
        width: 280px;
        padding: 10px;
        background-image: none;
        margin: 0px;
        height: 32px;
        line-height: 32px;
        border-bottom: solid 1px #D1D1D1;
    }

    .nav_menu_lessons1 li a.odd {
        display: block;
        background-image: none;
        background-color: #ffffff;
    }

    .nav_menu_lessons1 li a .lesson_num {
        font-size: 18px;
        float: left;
        margin-right: 10px;
        padding: 0px;
        color: #bb3b00;
    }

    .nav_menu_lessons1 li a .lesson_title {
        font-size: 12px;
        float: left;
        color: #463d52;
        display: block;
        line-height: 34px;
    }

}

@media screen and (max-width: 320px) {
    /* menubar */
    #menua #menu_inner {
        width: 280px;
    }
}
